{% extends "basic.html" %}

{% block title %}首页{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <body class="gray-bg">
    <div class="row">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="ibox-content m-b-sm border-bottom">
                            <div class="p-xs">
                                <div class="pull-left m-r-md">
                                    <i class="fa fa-globe text-navy mid-icon"></i>
                                </div>
                                <h2>欢迎使用北京理工大学信息抽取和知识图谱构建技术平台</h2>
                                <span>自然语言处理实验室</span>
                            </div>
                        </div>

                        <div class="ibox-content m-b-sm border-bottom">
                            <div class="p-xs">
                                <h3>平台简介</h3>
                                <p>
                                    本平台是由北京理工大学自然语言处理实验室提供的信息抽取和知识图谱构建技术平台
                                </p>
                                <p>目前本平台提供如下功能</p>
                            </div>
                        </div>

                        <div class="ibox-content forum-container">
                            <div class="forum-title">
                                <h3>信息抽取任务</h3>
                            </div>
                            <div class="forum-item active" onmouseover="this.style.backgroundColor='#B3B3B3'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="main_word_embedding.html" class="forum-item-title">维基百科词向量</a>
                                        <div class="forum-sub-title">实现算法的简要介绍</div>
                                    </div>
                                </div>
                            </div>
                            <div class="forum-item active" onmouseover="this.style.backgroundColor='#B3B3B3'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="main_keyword.html" class="forum-item-title">关键字提取</a>
                                        <div class="forum-sub-title">实现算法的简要介绍</div>
                                    </div>
                                </div>
                            </div>
                            <div class="forum-item active" onmouseover="this.style.backgroundColor='#B3B3B3'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="main_text.html" class="forum-item-title">文本分类</a>
                                        <div class="forum-sub-title">实现算法的简要介绍</div>
                                    </div>
                                </div>
                            </div>
                            <div class="forum-item active" onmouseover="this.style.backgroundColor='#B3B3B3'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="main_ner.html" class="forum-item-title">命名实体识别</a>
                                        <div class="forum-sub-title">实现算法的简要介绍</div>
                                    </div>
                                </div>
                            </div>
                            <div class="forum-item " onmouseover="this.style.backgroundColor='#B3B3B3'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="main_re.html" class="forum-item-title">实体关系抽取</a>
                                        <div class="forum-sub-title">实现算法的简要介绍</div>
                                    </div>

                                </div>
                            </div>
                            <div class="forum-item " onmouseover="this.style.backgroundColor='#B3B3B3'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="main_topic.html" class="forum-item-title">事件抽取</a>
                                        <div class="forum-sub-title">实现算法的简要介绍</div>
                                    </div>
                                </div>
                            </div>
                            <div class="forum-title">
                                <h3>知识图谱任务</h3>
                            </div>

                            <div class="forum-item " onmouseover="this.style.backgroundColor='#B3B3B3'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="" class="forum-item-title">知识表示</a>
                                        <div class="forum-sub-title">实现算法的简要介绍</div>
                                    </div>
                                </div>
                            </div>
                            <div class="forum-item " onmouseover="this.style.backgroundColor='#B3B3B3'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="" class="forum-item-title">知识融合</a>
                                        <div class="forum-sub-title">实现算法的简要介绍</div>
                                    </div>

                                </div>
                            </div>
                            <div class="forum-item " onmouseover="this.style.backgroundColor='#B3B3B3'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="" class="forum-item-title">本体构建</a>
                                        <div class="forum-sub-title">实现算法的简要介绍</div>
                                    </div>

                                </div>
                            </div>
                            <div class="forum-item " onmouseover="this.style.backgroundColor='#B3B3B3'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="" class="forum-item-title">知识推理</a>
                                        <div class="forum-sub-title">实现算法的简要介绍</div>
                                    </div>

                                </div>
                            </div>
                            <div class="forum-item " onmouseover="this.style.backgroundColor='#B3B3B3'"
                                 onmouseout="this.style.backgroundColor='#FFFFFF'">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="" class="forum-item-title">质量评估</a>
                                        <div class="forum-sub-title">实现算法的简要介绍</div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block footer %}
    {{ super() }}
    <!-- Peity -->
    <script src={{ url_for('static',filename="js/plugins/peity/jquery.peity.min.js") }}></script>

    <!-- 自定义js -->
    <script src={{ url_for('static',filename="js/content.js") }}></script>
{% endblock %}